/* css reset*/
*{
   margin: 0;
   padding: 0;
}
html{
   scroll-behavior: smooth;
}

/* css verialble */
:root{
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar{
     display: flex;
     align-items: center;
     position: sticky;
     top: 0px;
}

/*navigation bar: logo and image*/
#logo{
    margin: 10px 34px;

}
#logo img{
       height: 59px;
       margin: 3px 6px;
}
/*navigation bar: list stylying*/
#navbar ul{
   display: flex;

   }
   #navbar::before{
       content:"";
       background-color: red;
       position: absolute;
       top: 0;
       left: 0;
       height:100%;
       width: 100%px;
       z-index: -1;
       opacity: 0.49;
   }
#navbar ul li{
         /* color: white;*/
          list-style: none;
          font-size: 1.3rem;
          
}
#navbar ul li a{
              color: white;
              display: block;
              padding: 3px 22px;
              border-radius: 20px;
              text-decoration: none;
              
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/*home section */

#home{
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home:before{
     content:"";
       position: absolute;
       top: 0;
       left: 0;
       background: url('../piza-3010062__480.jpg') no-repeat center center/cover;
       height: 70%;
       width: 100%;
       z-index: -1;
       opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
/*service section*/
#services{
    margin: 34px;
    display: flex;
    text-align: center;
}
#services .box{
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;

    
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services{}
#services{}
#services{}
#services{}
#services{}
#services{}
/* clients section */
#client-section{
     position: relative;
}
#client-section::before{
     content:"";
       position: absolute;
       background: url('../default-pasta.jpg') no-repeat center center/cover;
       height: 100%;
       width: 100%;
       z-index: -1;
       opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.client-item{
    padding: 34px;
}    
#clients img{
    height: 124px;
}    
/* contect section */
#contect{
    position: relative;
}
#contect::before{
   content:"";
       position: absolute;
       background: url('../gummibarchen-318362_1920.jpg') no-repeat center center/cover;
       height: 100%;
       width: 100%;
       z-index: -1;
       opacity: 0.4; 
}
.contect-box{
       display: flex;
       justify-content: center;
       align-items: center;
       padding-bottom: 34px;
}
.contect-box input, .contect-box textarea{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
}
.contect-box form{
        width: 40%;
}
.contect-box label{
        font-size: 1.3rem;
}
footer{
        background-color: black;
        color: white;
        padding: 9px 20px;
}

/*utility classess*/
.h-primary{
       font-size: 3.8rem;
       padding: 12px;
}
.h-secondry{
      font-size: 1.8rem;
       padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 32px;
    cursor: pointer;
}
.center{
    text-align: center;
}